[submodule "web/themes/air"]
	path = web/themes/air
	url = https://github.com/syui/hugo-theme-air
[submodule "web/themes/creative"]
	path = web/themes/creative
	url = https://github.com/digitalcraftsman/hugo-creative-theme
